/* Go back to main menu Button */
#goBackBtn {
    width: 220px;
    padding: 12px;
    font-size: 18px;
    background: #000;
    color: #0f0;
    border: 2px solid #0f0;
    cursor: pointer;
}


#goBackBtn:hover:not(:disabled) {
    background: #0f0;
    color: #000;
}


#goBackBtn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}