body {
    margin: 0;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: #0f0;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

/* Go back to main menu Button */
#goBackBtn {
    width: 220px;
    padding: 12px;
    font-size: 18px;
    background: #000;
    color: #0f0;
    border: 2px solid #0f0;
    cursor: pointer;
}


#goBackBtn:hover:not(:disabled) {
    background: #0f0;
    color: #000;
}


#goBackBtn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}